@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.help-container {
font-family: "Inter", sans-serif;
  position: absolute;
  top: 105px;
  right: 16px;

}

.help-button {
  background-color: #D9D9D9;
  border-radius: 25px;
  padding: 8px 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 1px;
}

.help-button:hover {
  background-color: #D9D9D9;
}

.caret {
  font-size: 14px;
}

.help-dropdown {
  margin-top: 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 8px 12px;
}

.help-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.help-dropdown li {
  padding: 6px 0;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.help-dropdown li:hover {
  color: #007bff;
}
