@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.header {
    width: 100%;
    height: 80px;
    background-color: #ECBD35;
    display: flex;
    flex-direction: row;
}

.header .leftSide {
    flex: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 28px;
}

.app-name {
    color: #ECBD35;
    -webkit-text-stroke: 1px black;
    flex: 50%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 28px;
}

/* iPhone 12 Pro - 390x844px */
@media screen and (max-width: 390px) and (max-height: 844px) {
  .header {
    height: 70px;
  }

  .header .leftSide {
    font-size: 24px;
    padding-left: 18px;
  }

  .app-name {
    font-size: 24px;
    padding-left: 18px;
  }
}
