
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krona+One&display=swap');



.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
  background-color: #ECBD35;
  padding: 24px 16px;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.footer-title{
  display: flex;          
  gap: 9px;               
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  margin-top: 10px;
}

.footer-word {
  color: #ECBD35;
  -webkit-text-stroke: 1px black
}

.footer-links {
  margin-top: 45px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-credit {
  grid-column: 3;
  margin-top: 35px;
  font-size: 15px;
  font-weight: light;
  color: #383838;
}

/* Responsive สำหรับมือถือ */
@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    text-align: left;
  }

  .footer-logo,
  .footer-links,
  .footer-credit {
    grid-column: 1;
    margin-bottom: 16px;
    text-align: left;
  }
}

/* iPhone 12 Pro - 390x844px */
@media screen and (max-width: 390px) and (max-height: 844px) {
  .footer {
    padding: 20px 14px;
  }

  .footer-title {
    font-size: 30px;
  }

  .footer-links {
    font-size: 20px;
    margin-top: 35px;
  }

  .footer-credit {
    font-size: 13px;
  }
}

